<h1>Welcome Lior</h1>


<div class="ui segment">
  <div class="ui two column very relaxed grid">
    <div class="column border">

    </div>
    <div class="column ">
    <div class="ui three column grid">
      <div class="column">
        <div class="ui fluid card">
          <div class="image">
            <img src="/assets/user1.jpg">
          </div>
          <div class="content">
            <a class="header">Daniel Louise</a>
          </div>
        </div>
      </div>
      <div class="column ">
        <div class="ui fluid card">
          <div class="image">
            <img src="/assets/user5.jpg">
          </div>
          <div class="content">
            <a class="header">Helen Troy</a>
          </div>
        </div>
      </div>
      <div class="column">
        <div class="ui fluid card">
          <div class="image">
            <img src="/assets/user4.jpg">
          </div>
          <div class="content">
            <a class="header">Elliot Fu</a>
          </div>
        </div>
      </div>
    </div>
    </div>
  </div>
</div>


<!-- <app-webcam></app-webcam> -->

